.header__lang-link{
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 400;
    display: flex;
    align-self: flex-end;
}
.header__lang-link:first-of-type{
text-decoration: underline;
}