.photo-grid {
    /*border: 1px red solid;*/
    margin: 0 auto 0 auto;
    padding-top: 5.75rem;
    width: 92.5%;
    box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
    .photo-grid {
        max-width: 1184px;
    }
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        padding-top: 88px;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        max-width: 288px;
        padding-top: 64px;
    }
}