.photo-grid {
    /*border: 1px red solid;*/
    margin: 0 auto 0 auto;
    padding-top: 7.187vw;
    max-width: 92.5vw;
    box-sizing: border-box;

}

@media screen and (max-width: 1280px) {
    .photo-grid {
        max-width: 1184px;
        padding-top: 92px;
    }
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        width: 93.75vw;
        padding-top: 88px;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        max-width: 90vw;
        padding-top: 64px;
    }
}