.places{
   width: 77%;
    margin: 0 auto 0 auto;
    padding-top: 0.75rem;
    padding-bottom: 5.75rem;
   /* border: 1px red solid;*/
}

@media screen and (max-width: 1280px) {
    .places {
        width: 984px;
    }
}

@media screen and (max-width: 1024px) {
    .places {
        width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        width: 720px;

    }
}

@media screen and (max-width: 425px) {
    .places {
        width: 100%;
    }
}