.lead {
    width: 77vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    padding-top: 4.37vw;
}

@media screen and (max-width: 1280px) {
    .lead {
        max-width: 984px;
        padding-top: 56px;
    }
}

@media screen and (max-width: 1024px) {
    .lead {
        width: 928px;
        padding-top: 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        width: 100%;
    }
}