.cover__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 1.406vw;
    line-height: 122%;
    text-align: center;
    max-width: 28.125vw;
    margin: 0 auto 0 auto;
    padding-top: 2.5vw;
    position: relative;
    z-index: 3;
}

@media screen and (max-width: 1280px) {
    .cover__subtitle {
        padding-top: 32px;
        font-size: 18px;
        max-width: 360px;
    }}

@media screen and (max-width: 425px) {
    .cover__subtitle {
        padding-top: 16px;
        max-width: 91vw;
        font-size: 16px;
        line-height: 114%;
    }}