.header__logo{
    width: 13.7vw;
    height: 4vw;
    /*border: 1px red solid;*/
}

@media screen and (max-width: 1280px) {
    .header__logo {
        width: 176px;
        height: 52px;
    }
} 
@media screen and (max-width: 425px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
} 