/*.photo-grid__item {
    min-width: 22vw;

    
}

@media screen and (max-width: 1280px) {*/
    .photo-grid__item {
        min-width: 284px;
        
    }/*
}*/

@media screen and (max-width: 1024px) {
    .photo-grid__item {
        min-width: 300px;
        
    }
}

@media screen and (max-width: 768px) {
    .photo-grid__item {
        min-width: 352px;
        

    }
}

@media screen and (max-width: 425px) {
    .photo-grid__item {
        min-width: 90vw;
        max-width: 90vw;
    }
}