.header{
    display: flex;
    justify-content: space-between;
    padding: 2.1vw 0 0 0;
    /*border: 1px red solid;*/
    /*width: 92.5%;*/
    margin: 0 auto 0 auto;
    /*position: relative;*/
    width: 92.5vw;
}
@media screen and (max-width: 1280px) {
    .header {
        max-width: 1184px;
        padding: 28px 0 0 0;
    }
} 
@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
        padding: 28px 0 0 0;
    }
} 
@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
        padding: 28px 0 0 0;
        
    }
} 
@media screen and (max-width: 425px) {
    .header {
        margin: 0 16px 0 16px;
        padding-top: 16px;
        max-width: 288px;
    }
} 