.header{
    display: flex;
    justify-content: space-between;
    padding: 1.75rem 0 0 0;
    /*border: 1px red solid;*/
    width: 92.5%;
    margin: 0 auto 0 auto;
    /*position: relative;*/
    max-width: 1184px;

}