
    .photo-grid__item-box {
        width: 22vw;
    }
    
    @media screen and (max-width: 1280px) {
        .photo-grid__item-box {
            width: 284px;
            height: 213px;
        }
    }
    
    @media screen and (max-width: 1024px) {
        .photo-grid__item-box {
            width: 300px;
            height: 225px;
        }
    }
    
    @media screen and (max-width: 768px) {
        .photo-grid__item-box {
            width: 352px;
            height: 264px;
    
        }
    }
    
    @media screen and (max-width: 425px) {
        .photo-grid__item-box {
            width: 90vw;
            
        }
    }