.place__text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 163%;
    /*border: 1px red solid;*/
    margin: 0;
    
}

@media screen and (max-width: 425px) {
    .place__text {
       margin: 0 16 0 16;
    }
}