.place__text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 163%;
    /*border: 1px red solid;*/
    margin: 0;
    
}
@media screen and (max-width: 1280px) {
    .place__text {
        font-size: 18px;
    }
}
@media screen and (max-width: 768px) {
    .place__text {
        font-size: 16px;
    }
}
@media screen and (max-width: 425px) {
    .place__text {
       margin: 0 auto 0 auto;
       width: 89%;
    }
}