.into{
    padding: 7.18vw 0 0 0;
    width: 77vw;
    margin: 0 auto 0 auto;
    /*border: 1px red solid;*/
}
@media screen and (max-width: 1280px) {
    .into {
        max-width: 984px;
        padding-top: 92px;
    }
} 
@media screen and (max-width: 1024px) {
    .into {
        width: 928px;
    }
} 
@media screen and (max-width: 768px) {
    .into{
        max-width: 720px;
        padding-top: 88px;
    }
} 
@media screen and (max-width: 425px) {
    .into {
        padding-top: 64px;
        max-width: 288px;
    }
} 
