.cover {
    /*background:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../images/background.png);*/
    /*background-color: #2A2C2F;*/
    /*background: url(../../images/background.png);
    background-image: opacity(0.3);*/
    max-width: 92.5%;
    margin: 0 auto 0 auto;
    object-fit: contain;
    /*background: rgba(0,0,0,0.2);*/
    background-size: 100% 100%;
    position: relative;
    /*opacity: 30%;*/
    background-repeat: no-repeat;
    /*padding: 19vw 0 19vw 0;*/
    /*text-decoration: none;
    color: white;*/
}

.cover::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 70%;
    background-image: url(../../images/background.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

/*.cover:hover {
    background: 
       linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../images/background.png);
    object-fit: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}*/
.cover:hover::before  {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 20%;
    background-image: url(../../images/background.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

@media screen and (max-width: 1280px) {
    .cover {
        max-width: 1184px;
        /*padding: 245px 0 245px 0;*/
    }
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
       /* padding: 195px 0 195px 0;*/
    }
}

@media screen and (max-width: 768px) {
    .cover {
        width: 100%;
       /* padding: 115px 0 115px 0;*/
    }
}

@media screen and (max-width: 425px) {
    .cover {
        width: 100%;
        /*padding: 33px 0 33px 0;*/
    }
}