.place__link {
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 122%;
    color: #FFFFFF;
    display: block;
    /*border: 1px red solid;*/
}
.place__link:hover {
    opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}