.place__link {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 122%;
    color: #FFFFFF;
    display: block;
    /*border: 1px red solid;*/
}
.place__link:hover {
    opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 1280px) {
  .place__link {
      font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .place__link {
    margin: 0 auto 0 auto;
    max-width: 288px;
  }
}