@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

@import url(../blocks/into/into.css);
@import url(../blocks/into/__title/into__title.css);
@import url(../blocks/into/__text/into__text.css);
@import url(../blocks/into/__list/into__list.css);
@import url(../blocks/into/__list-item/into__list-item.css);
@import url(../blocks/into/__list-value/into__list-value.css);    


