.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 5.625vw;
    line-height: 106%;
    text-align: center;
    max-width: 43.75vw;
    margin: 0 auto 0 auto;
    /*padding-top: 245px;*/
    position: relative;
    z-index: 3;
    
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 1280px) {
    .cover__title {
        font-size: 72px;
        line-height: 106%;
        max-width: 560px;
            }
}

@media screen and (max-width: 425px) {
    .cover__title {
        font-size: 10vw;
        line-height: 109%;
        max-width: 70vw;
            }
}
