.place__url-heading {
    color: #AAAAAA;
    font-weight: 400;
   /* font-size: 0.937vw;*/
    line-height: 100%;
   /* letter-spacing: 0.156vw;*/
    display: block;
   /* border: 1px red solid;*/
    margin: 0;
    padding-bottom:0.75rem;/*
}

@media screen and (max-width: 1280px) {
    .place__url-heading {*/
        font-size: 12px;
        letter-spacing: 2px;
    }/*
}*/

@media screen and (max-width: 425px) {
    .place__url-heading {
        margin: 0 auto 0 auto;
        
        width: 90%;
    }
}