.header__lang-links{
    display: flex;
    list-style-type: none;
    gap: 1.125rem;
    margin 1.125rem 0 0 0;
   /* border: 1px red solid;*/
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0.375rem;
}